services:
  centrifugo:
    image: centrifugo/centrifugo:v6
    container_name: centrifugo
    user: "0:0" 
    ports:
      - "8000:8000"
    volumes:
      - ./config:/centrifugo 
    command: centrifugo -c config.json 
    ulimits:
      nofile:
        soft: 65535
        hard: 65535